<h1> New App </h1>
<%= form_for :app, url: apps_path do |f|%>
	<p> 
	  <%= f.label :title %><br>
	  <%= f.text_field :title %>
	  </p>
	  <p>
	  <%= f.label :description %><br>
	  <%= f.text_area :description %>
	  </p>
      <p>
      	<%= f.submit %>
      </p>
	  
<%end%>